.btn-primary{
    background: #1155cc;
    border-color: #1155cc;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1155cc;
  border-color: #1155cc;
}

.btn-success{
    background: #4A9130;
    border-color: #4A9130;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #276610;
  border-color: #276610;
}